/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
  --black: #3a3a3a;
  --white: #fff;
  --green: #49b293;
  --grey: #FAFAFA;
  --gradient: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), linear-gradient(101deg,#78e4ff, #ff48fa);
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 50px 0;
  color: var(--black);
  font: 1rem/1.3 'Poppins', sans-serif;
}

button {
  border-radius: 50px;
  border: solid 3px transparent;
  background-image: var(--gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  padding: 8px 20px 8px 20px;
  margin-top: -25px;
  /*
  display: inline-block;
  background-color:var(--green);
  font-family: inherit;
  font-size: 16px;
  color: var(--white);
  
  */
}

button:hover{
  box-shadow: none;
  color: var(--white);
}

.author-archive {
  padding: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 3rem;
}

h1 a {
  transition: all 0.1s;
}

h1 a:hover {
  background: var(--gradient);
  color: var(--white);
}

h3{
    text-align: center;
}
input[type="radio"] {
  position: absolute;
  left: -9999px;
}

form{
    padding: 50px 0 50px 0;
    margin: 0 0 20px 0;
    width: 100%;
}

nav{
  /*background-color: var(--green);*/
  background-image: var(--gradient);
  padding: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav a{
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}

nav a:hover{
  color: #3a3a3a;
}


/*Other Rules
----------------------------------------------*/

.form-control{
    text-align: center;
  }

.form-control input[type="date"], select{
    border: none;
    border-bottom: 2px solid var(--green);
}

.form-control input[type="date"], select, button{
    display: inline-flex;
    width: auto;
    align-items: center;
    padding: auto;
    font-family: inherit;
    margin-left: 10px;
  }

.share{
  color: var(--green);
  text-align: right;
  }

.h1-heavy{
  font-size: 50px;
}  

/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--gradient);
  color: var(--white);
}


/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.posts .post {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.posts .post-title {
  font-size: 1.3rem;
}

.posts .post-title:hover {
  text-decoration: underline;
}

.posts figcaption {
  padding: 1rem;
}

.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.posts .post-categories * {
  display: inline-block;
}

.posts .post-categories li {
  margin-bottom: 0.2rem;
}

.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
}

.posts .post-categories a:hover {
  background: var(--gradient);
  color: var(--white);
}


/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .filters [for="All"],
[value="Mobile"]:checked ~ .filters [for="Mobile"],
[value="Web"]:checked ~ .filters [for="Web"],
[value="AI"]:checked ~ .filters [for="AI"],
[value="Robotics"]:checked ~ .filters [for="Robotics"],
[value="Data"]:checked ~ .filters [for="Data"],
[value="Cloud"]:checked ~ .filters [for="Cloud"] {
  background: var(--gradient);
  color: var(--white);
}

[value="All"]:checked ~ .posts [data-category] {
  display: block;
}

[value="Mobile"]:checked ~ .posts .post:not([data-category~="Mobile"]),
[value="Web"]:checked ~ .posts .post:not([data-category~="Web"]),
[value="AI"]:checked ~ .posts .post:not([data-category~="AI"]),
[value="Robotics"]:checked ~ .posts .post:not([data-category~="Robotics"]),
[value="Data"]:checked ~ .posts .post:not([data-category~="Data"]),
[value="Cloud"]:checked ~ .posts .post:not([data-category~="Cloud"]) {
  display: none;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .form-control{
    display: inline-block;
  }
}